{% extends "base/list.html" %}
{% load crispy_forms_tags %}
{% block navigation_extra %}
    {% url 'contest:round-list' as round_list %}
    {% url 'contest:round-detail' round_id as round_detail %}
    {% include "base/nav_with_url.html" with url=round_list label='Lista de Rondas' %}
    {% include "base/nav_with_url.html" with url=round_detail label='Ronda' %}
    {% include "base/nav_without_url.html" with label="Calificar" %}
{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center bg-primary">
        <div>
            <h6 class="m-0 font-weight-bold small text-white">{{ object.participant.name }} </h6>
        </div>
        <div>
                <a href="{% url 'contest:round-mark-absent' object.round.id object.participant.identification %}"
                   class="btn btn-danger text-right small btn-sm">
                    <span class="text ">Marcar como ausente</span>
                </a>
        </div>
    </div>
    <div class="card-body small">
    <div class="row ">

        <div class="col-sm-3">
            <h5>
                <span class="text-primary small">Nombre:</span> <span
                    class="text-dark small">{{ object.participant.name }}</span></h5>
        </div>
        <div class="col-md-3">
            <h5><span class="text-primary small">Cédula:</span> <span
                    class="text-dark small">{{ object.participant.identification }}</span></h5>
        </div>
        <div class="col-md-3">
            <h5><span class="text-primary small">Cantón:</span> <span
                    class="text-dark small">{{ object.participant.township.name }}</span></h5>
        </div>
        <div class="col-md-3">
            <h5><span class="text-primary small">Edad:</span> <span
                    class="text-dark small">{{ object.participant.age }}</span></h5>
        </div>

        <div class="col-12">
            <form method="post" class="create-form" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                {% block submit %}
                    <button type="submit" class="btn btn-primary">Calificar</button>
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script>
        function openRatingSelector(fieldId, maxButtons) {
            let buttonsHtml = '<div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 5px;">';
            for (let i = 1; i <= maxButtons; i++) {
                let color = '#4e73df';
                if (i <= Math.round(maxButtons * 0.33)) {
                    color = '#ED4C40';
                } else if (i <= Math.round(maxButtons * 0.66)) {
                    color = '#FAAC39';
                } else {
                    color = '#81C063';
                }
                buttonsHtml += `<button onclick="selectScore(${i}, '${fieldId}')" style="width: 50px; height: 50px; font-size: 14px; border-radius: 50%; border: 1px solid ${color}; background-color: ${color}; color: white; cursor: pointer; display: flex; align-items: center; justify-content: center;">${i}</button>`;
            }
            buttonsHtml += '</div>';

            Swal.fire({
                title: 'Seleccione la Calificación',
                html: buttonsHtml,
                showConfirmButton: false,
                customClass: {
                    popup: 'swal2-custom-popup'
                },
                width: 'auto',
            });
        }

        function selectScore(score, fieldId) {
            document.getElementById(fieldId).value = score;
            Swal.close();
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('id_coupling').addEventListener('click', function () {
                openRatingSelector('id_coupling', 35);
            });

            document.getElementById('id_intonation').addEventListener('click', function () {
                openRatingSelector('id_intonation', 35);
            });

            document.getElementById('id_expression').addEventListener('click', function () {
                openRatingSelector('id_expression', 30);
            });
        });
    </script>

{% endblock %}
